ConsoleApp1/15 mars.sln
ConsoleApp1/.vs/15 mars/v16/.suo
ConsoleApp1/ConsoleApp1/15 mars Console Application.csproj
ConsoleApp1/ConsoleApp1/App.config
ConsoleApp1/ConsoleApp1/Program.cs
ConsoleApp1/ConsoleApp1/Properties/AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/ConsoleApp1_.NETFramework/15 mars Console App_.NETFramework.csproj
ConsoleApp1/ConsoleApp1_.NETFramework/App.config
ConsoleApp1/ConsoleApp1_.NETFramework/Program.cs
ConsoleApp1/ConsoleApp1_.NETFramework/Properties/AssemblyInfo.cs
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.exe
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.exe.config
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.pdb
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/15 mars Console App_.NETFramework.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/15 mars Console App_.NETFramework.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/ConsoleApp1_.NETFramework.exe
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/ConsoleApp1_.NETFramework.pdb
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OopExamen1/OopExamen1.sln
OopExamen1/.vs/OopExamen1/v16/.suo
OopExamen1/Examen/ex1.cs
OopExamen1/Examen/Examen.csproj
OopExamen1/Examen/Program.cs
OopExamen1/Examen/obj/Examen.csproj.nuget.dgspec.json
OopExamen1/Examen/obj/Examen.csproj.nuget.g.props
OopExamen1/Examen/obj/Examen.csproj.nuget.g.targets
OopExamen1/Examen/obj/project.assets.json
OopExamen1/Examen/obj/project.nuget.cache
OopExamen1/Examen/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
OopExamen1/Examen/obj/Debug/net5.0/Examen.AssemblyInfo.cs
OopExamen1/Examen/obj/Debug/net5.0/Examen.AssemblyInfoInputs.cache
OopExamen1/Examen/obj/Debug/net5.0/Examen.assets.cache
OopExamen1/Examen/obj/Debug/net5.0/Examen.csproj.AssemblyReference.cache
OopExamen1/Examen/obj/Debug/net5.0/Examen.GeneratedMSBuildEditorConfig.editorconfig
Evaluation1_Carlos/Evaluation1_Carlos.sln
Evaluation1_Carlos/.vs/Evaluation1_Carlos/v16/.suo
Evaluation1_Carlos/.vs/OopExamen1/DesignTimeBuild/.dtbcache.v2
Evaluation1_Carlos/Examen/Client.cs
Evaluation1_Carlos/Examen/Commande.cs
Evaluation1_Carlos/Examen/Examen.csproj
Evaluation1_Carlos/Examen/Fournisseur.cs
Evaluation1_Carlos/Examen/Program.cs
Evaluation1_Carlos/Examen/bin/Debug/net5.0/Examen.deps.json
Evaluation1_Carlos/Examen/bin/Debug/net5.0/Examen.dll
Evaluation1_Carlos/Examen/bin/Debug/net5.0/Examen.exe
Evaluation1_Carlos/Examen/bin/Debug/net5.0/Examen.pdb
Evaluation1_Carlos/Examen/bin/Debug/net5.0/Examen.runtimeconfig.dev.json
Evaluation1_Carlos/Examen/bin/Debug/net5.0/Examen.runtimeconfig.json
Evaluation1_Carlos/Examen/bin/Debug/net5.0/ref/Examen.dll
Evaluation1_Carlos/Examen/obj/Examen.csproj.nuget.dgspec.json
Evaluation1_Carlos/Examen/obj/Examen.csproj.nuget.g.props
Evaluation1_Carlos/Examen/obj/Examen.csproj.nuget.g.targets
Evaluation1_Carlos/Examen/obj/project.assets.json
Evaluation1_Carlos/Examen/obj/project.nuget.cache
Evaluation1_Carlos/Examen/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Evaluation1_Carlos/Examen/obj/Debug/net5.0/apphost.exe
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.AssemblyInfo.cs
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.AssemblyInfoInputs.cache
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.assets.cache
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.csproj.AssemblyReference.cache
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.csproj.CoreCompileInputs.cache
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.csproj.FileListAbsolute.txt
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.dll
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.GeneratedMSBuildEditorConfig.editorconfig
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.genruntimeconfig.cache
Evaluation1_Carlos/Examen/obj/Debug/net5.0/Examen.pdb
Evaluation1_Carlos/Examen/obj/Debug/net5.0/ref/Examen.dll
TP_Final/TP_Final.sln
TP_Final/.vs/TP_Final/v16/.suo
TP_Final/App/App.csproj
TP_Final/App/Program.cs
TP_Final/App/bin/Debug/net5.0/App.deps.json
TP_Final/App/bin/Debug/net5.0/App.dll
TP_Final/App/bin/Debug/net5.0/App.exe
TP_Final/App/bin/Debug/net5.0/App.pdb
TP_Final/App/bin/Debug/net5.0/App.runtimeconfig.dev.json
TP_Final/App/bin/Debug/net5.0/App.runtimeconfig.json
TP_Final/App/obj/App.csproj.nuget.dgspec.json
TP_Final/App/obj/App.csproj.nuget.g.props
TP_Final/App/obj/App.csproj.nuget.g.targets
TP_Final/App/obj/project.assets.json
TP_Final/App/obj/project.nuget.cache
TP_Final/App/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TP_Final/App/obj/Debug/net5.0/App.AssemblyInfo.cs
TP_Final/App/obj/Debug/net5.0/App.AssemblyInfoInputs.cache
TP_Final/App/obj/Debug/net5.0/App.assets.cache
TP_Final/App/obj/Debug/net5.0/App.csproj.AssemblyReference.cache
TP_Final/App/obj/Debug/net5.0/App.csproj.CoreCompileInputs.cache
TP_Final/App/obj/Debug/net5.0/App.csproj.FileListAbsolute.txt
TP_Final/App/obj/Debug/net5.0/App.dll
TP_Final/App/obj/Debug/net5.0/App.GeneratedMSBuildEditorConfig.editorconfig
TP_Final/App/obj/Debug/net5.0/App.genruntimeconfig.cache
TP_Final/App/obj/Debug/net5.0/App.pdb
TP_Final/App/obj/Debug/net5.0/apphost.exe
TP_Final/App/obj/Debug/net5.0/ref/App.dll
TP_Final/App/obj/Debug/net5.0/refint/App.dll
TPF_Ma_partie/TPF_Ma_partie.sln
TPF_Ma_partie/.vs/TPF_Ma_partie/v16/.suo
TPF_Ma_partie/App/App.csproj
TPF_Ma_partie/App/Program.cs
TPF_Ma_partie/App/obj/App.csproj.nuget.dgspec.json
TPF_Ma_partie/App/obj/App.csproj.nuget.g.props
TPF_Ma_partie/App/obj/App.csproj.nuget.g.targets
TPF_Ma_partie/App/obj/project.assets.json
TPF_Ma_partie/App/obj/project.nuget.cache
TPF_Ma_partie/App/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TPF_Ma_partie/App/obj/Debug/net5.0/App.AssemblyInfo.cs
TPF_Ma_partie/App/obj/Debug/net5.0/App.AssemblyInfoInputs.cache
TPF_Ma_partie/App/obj/Debug/net5.0/App.assets.cache
TPF_Ma_partie/App/obj/Debug/net5.0/App.csproj.AssemblyReference.cache
TPF_Ma_partie/App/obj/Debug/net5.0/App.GeneratedMSBuildEditorConfig.editorconfig
