ConsoleApp1/15 mars.sln
ConsoleApp1/.vs/15 mars/v16/.suo
ConsoleApp1/ConsoleApp1/15 mars Console Application.csproj
ConsoleApp1/ConsoleApp1/App.config
ConsoleApp1/ConsoleApp1/Program.cs
ConsoleApp1/ConsoleApp1/Properties/AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/ConsoleApp1_.NETFramework/15 mars Console App_.NETFramework.csproj
ConsoleApp1/ConsoleApp1_.NETFramework/App.config
ConsoleApp1/ConsoleApp1_.NETFramework/Program.cs
ConsoleApp1/ConsoleApp1_.NETFramework/Properties/AssemblyInfo.cs
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.exe
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.exe.config
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.pdb
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/15 mars Console App_.NETFramework.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/15 mars Console App_.NETFramework.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/ConsoleApp1_.NETFramework.exe
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/ConsoleApp1_.NETFramework.pdb
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
