ConsoleApp1/15 mars.sln
ConsoleApp1/.vs/15 mars/v16/.suo
ConsoleApp1/ConsoleApp1/15 mars Console Application.csproj
ConsoleApp1/ConsoleApp1/App.config
ConsoleApp1/ConsoleApp1/Program.cs
ConsoleApp1/ConsoleApp1/Properties/AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
ConsoleApp1/ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/15 mars Console Application.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.AssemblyReference.cache
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/ConsoleApp1_.NETFramework/15 mars Console App_.NETFramework.csproj
ConsoleApp1/ConsoleApp1_.NETFramework/App.config
ConsoleApp1/ConsoleApp1_.NETFramework/Program.cs
ConsoleApp1/ConsoleApp1_.NETFramework/Properties/AssemblyInfo.cs
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.exe
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.exe.config
ConsoleApp1/ConsoleApp1_.NETFramework/bin/Debug/ConsoleApp1_.NETFramework.pdb
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/15 mars Console App_.NETFramework.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/15 mars Console App_.NETFramework.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/ConsoleApp1_.NETFramework.exe
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/ConsoleApp1_.NETFramework.pdb
ConsoleApp1/ConsoleApp1_.NETFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OopExamen1/OopExamen1.sln
OopExamen1/.vs/OopExamen1/v16/.suo
OopExamen1/Examen/ex1.cs
OopExamen1/Examen/Examen.csproj
OopExamen1/Examen/Program.cs
OopExamen1/Examen/obj/Examen.csproj.nuget.dgspec.json
OopExamen1/Examen/obj/Examen.csproj.nuget.g.props
OopExamen1/Examen/obj/Examen.csproj.nuget.g.targets
OopExamen1/Examen/obj/project.assets.json
OopExamen1/Examen/obj/project.nuget.cache
OopExamen1/Examen/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
OopExamen1/Examen/obj/Debug/net5.0/Examen.AssemblyInfo.cs
OopExamen1/Examen/obj/Debug/net5.0/Examen.AssemblyInfoInputs.cache
OopExamen1/Examen/obj/Debug/net5.0/Examen.assets.cache
OopExamen1/Examen/obj/Debug/net5.0/Examen.csproj.AssemblyReference.cache
OopExamen1/Examen/obj/Debug/net5.0/Examen.GeneratedMSBuildEditorConfig.editorconfig
